{{#if message}}
<div id="modal">
  <img class="logo" id="log" src="/img/logo_caf_itaes.png" />
  <div class="paciente">
   Paciente: <br />
   <span>{{mesage[0]}}</span>
  </div> 
<div class="lugar">Pase a: <span>{{message[1]}} </span> </div>
<div cñass="doctor">{{message}}</div>
</div>
{{/if}}
