<html lang="es=>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Turnos</title>
  </head>
  <body> 
         
          <div id="reprodutorVid" style=" width:1000px, height:700px">
              
          </div>
        

      <script src="/socket.io/socket.io.js"></script>
      <script>
          const videos = document.getElementById('reprodutorVid');
         //const listaLlamadasDoom = document.getElementById('listado');
         const socket = io();
         socket.emit('connection');
         socket.emit('listarLlamadas');
         socket.on('listaLlamadas',(data)=>{
               document.body.innerHTML = data.map(item =>
              `
               <div class="caja">
                 <div class="eqtiqueta_paciente">${item.paciente}</div>
                 <div class="etiqueta_flecha"> > </div>
                 <div class="etiqueta_lugar">
                    <div class="pase"> porfavor pasfdse a :</div>
                    <div class="lugar"> ${item.lugar} </div>
                    <div class="doctor"> ${item.doctor} </div>
                 </div>
             </div>`
           ).join('');;
         });
      </script>

</body>
