{{#if emergencia}}
    <div class="cont_principal">
      <img class="encabezado2" src="./recursos/imagenes/logo_caf_itaes.png" />
      <div class="encabezado-secundario">
        <p>TRIAJE - EMERGENCIAS</p>
      {{#if noHayNada}}
        <p>
            Est&eacute atento, su nombre aparecer&aacute en pantalla cuando sea
            su turno.
        </p>
      </div>
      {{/if}}
      <div id="listado" class="listado"></div>
      <video id="video" class="video" autoplay>
        <div id="cuentaAtras">00:00</div>
      </video>
      <div class="hora"><p id="hora"></p></div>
      <div class="fecha"><p id="fecha"></p></div>
    </div>
{{/if}}

{{#if  consultorio}}    
    <div class="cont_principal">
      <img class="encabezado" src="/img/logo_con.png" />
      <img class="encabezado2" src="/img/logo_caf_itaes.png" />
      <div id="listado" class="listado"></div>
      <video id="video" class="video" autoplay muted >
        
        <div id="cuentaAtras">cons</div>
      </video>
      <div class="hora"><p id="hora"></p></div>
      <div class="fecha"><p id="fecha"></p></div>
    </div>
  {{/if}}


  {{#if  imagenologia}}
        <div class="cont_principal">
      <img class="encabezado" src="/img/logo_img_med.png" />
      <img class="encabezado2" src="/img/logo_caf_itaes.png" />
      <div id="listado" class="listado"></div>
      <video id="video" class="video" autoplay muted>
        
        <div id="cuentaAtras">00:00</div>
      </video>
      <div class="hora"><p id="hora"></p></div>
      <div class="fecha"><p id="fecha"></p></div>
    </div>
   {{/if}} 
    
   {{#if  laboratorio}}
   
   </div> 
   <div class="cont_principal">
      <img class="encabezado" src="/img/logo_lab.png" />
      <img class="encabezado2" src="/img/logo_caf_itaes.png" />
      <div id="listado" class="listado"></div>
      <video id="video" class="video"   autoplay muted >
        <div id="cuentaAtras">00:00</div>
      </video>
      <div class="hora"><p id="hora"></p></div>
      <div class="fecha"><p id="fecha"></p></div>
      <div class="mensaje">
         <div class="mensajeCont" id="scrolealo">
            
         </div>
      </div> 
    </div>
    {{/if}}
 
      <script src="/socket.io/socket.io.js"></script> 
      <script>
         const listaLlamadasDoom = document.getElementById("listado"); 
         const fecha = document.getElementById("fecha");
         const hora = document.getElementById("hora");
         const socket = io ();
         setInterval( ()=>{socket.emit('preguntarHoraFecha')},1000);
         socket.emit('listarLlamadas');
         socket.on('horaFechaFront',(data)=>{
           fecha.innerHTML = `${data.ano}`;
           hora.innerHTML = `${data.hora}`;
         });
    
         socket.on('listaLlamadas',(data)=>{ 
            listaLlamadasDoom.innerHTML = data.map((item) =>
               ` <div class=${item.clase}  id="caja" >
                 <div class="eqtiqueta_paciente" id="paciente">${item.paciente}</div>
                 <div class="etiqueta_flecha"> > </div>
                 <div class="etiqueta_lugar">
                    <div class="pase"  > porfavor pase a :</div>
                    <div class="lugar" id="lugar"> ${item.lugar} </div>
                    <div class="doctor"  id="doctor"> ${item.doctor} </div>
                 </div>
               </div>
             `
           ).join('');
         });
    
       socket.on('nuevaLlamada',(lista)=>{ socket.emit('listarLlamadas'); console.log('control');}); 
       const video = document.getElementById("video");
       function llamarVid () { 
        const idVideo = video.getAttribute("data-idVidAct");
        socket.emit('video', idVideo );
       };
       llamarVid();
       socket.on('nuevoVideo',(videoInfo)=>{
          console.log(videoInfo.idVideo);
          video.setAttribute("src",`../../videos/${videoInfo.src}`);
          video.setAttribute("data-idVidAct", videoInfo.idVideo ); 
       });
       video.addEventListener('ended',()=>{ llamarVid(); });
       socket.emit('listarMensajes');
       socket.on('listaMensajes',(data)=>{
       document.getElementById("scrolealo").textContent= data;
       });
      </script>
