.cont_principal {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  grid-template-areas:
 /* "01  02  03  04  05  06  07  08  09  10  11  12  13  14  15  16  17  18  19  20" */
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*01*/
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*02*/
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*03*/
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*04*/
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*05*/
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*06*/
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*07*/
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*08*/
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*09*/
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*10*/
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*11*/
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*12*/
    "vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid vid" /*13*/
    "lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis" /*14*/
    "lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis" /*15*/
    "lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis" /*16*/
    "lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis" /*17*/
    "lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis" /*18*/
    "lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis" /*19*/
    "lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis lis" /*20*/;
}
